<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <img src="/images/logo.png" alt="Logo Guía Formentera" width="100%">
                <!--<h5 class="white-text">Footer Content</h5> -->
                <p>Formentera: el último paraiso del mediterraneo</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Contactar</h5>
                <ul>
                    <li>+0034 971 30 80 69</li>
                    <li><a href="mailto:info@guiaformentera.com">info@guiaformentera.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p>GuiaFormentera.com | Política de privacidad y protección de datos | <a href="" class="grey-text text-lighten-4">Política de contratación</a> |
                <a href="" class="grey-text text-lighten-4">Aviso legal</a></p>
            <p>Según el Artículo 10.2.6. Las agencias de viajes, mediante información accesible en sus páginas web, o en la documentación contractual o precontractual que les entreguen, están obligadas a informar a sus clientes de que tienen constituida, en la forma exigida en la normativa, una fianza para responder del cumplimiento de las obligaciones derivadas de la prestación del servicios correspondientes a los viajes combinados.</p>
        </div>
    </div>
</footer>