{{ define "main" }}
    <div class="row jumbotron">
        <div class="col s12 center">
            <h1>Guía Formentera</h1>
            <p>
                Unas vacaciones inmejorables en el lugar perfecto para relajarse
            </p>
        </div>
    </div>
    <div class="row accionesprincipales">
        <div class="col m6 s12 center">
            <a href="info">
            <h3>Información relevante sobre Formentera</h3>
            </a>
        </div>
        <div class="col m6 s12 center">
            <a href="reservas">
            <h3>Reservas</h3>
            </a>
        </div>
    </div>

{{end}}