{{ define "main" }}
    <div class="row jumbotron">
        <div class="col s12 center">
            <h1>Guía Formentera</h1>
            <p>
                Unas vacaciones inmejorables en el lugar perfecto para relajarse
            </p>
        </div>
    </div>
    <div class="row accionesprincipales">
        <div class="col m6 s12 center">
            <a href="info">
                <i class="material-icons medium">info</i>
            <h3>Información útil sobre Formentera</h3>
            </a>
        </div>
        <div class="col m6 s12 center">
            <a href="reservas">
                <i class="material-icons medium">local_hotel</i>
                <i class="material-icons medium">directions_boat</i>
                <i class="material-icons medium">motorcycle</i>
                <i class="material-icons medium">directions_car</i>
                <i class="material-icons medium">airport_shuttle</i>
            <h3>Reservar con nosotros</h3>
            </a>
        </div>
    </div>

{{end}}