{{ define "main" }}
    <div class="row jumbotron">
        <div class="col s12 center">
            <h1>Guía Formentera</h1>
            <p>
                Unas vacaciones inmejorables en el lugar perfecto para relajarse
            </p>
        </div>
    </div>
    <div class="row grid">
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_playas2.jpg">
                    <span class="card-title">Playas</span>
                </div>
                <div class="card-content">
                    <p>Formentera es un sitio ideneo para descansar y disfrutar de sus playas enclavadas en un entorno natural.</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_pueblos.jpg">
                    <span class="card-title">Pueblos</span>
                </div>
                <div class="card-content">
                    <p>Conoce los pueblos para conocer la isla realmente.</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_quevisitar.jpg">
                    <span class="card-title">Que visitar</span>
                </div>
                <div class="card-content">
                    <p>El parque natural de Ses Salines, los faros, los mercados. Formentera no son solo sus playas.</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_ocio.jpg">
                    <span class="card-title">Ocio</span>
                </div>
                <div class="card-content">
                    <p>Conoce como aprovechar la isla al máximo.</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_scooter2.jpg">
                    <span class="card-title">Como desplazarse</span>
                </div>
                <div class="card-content">
                    <p>La mejor manera de moverte por la isla es con un Vespino. Alquila aqui tu vehículo.</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_barco5.jpg">
                    <span class="card-title">Horarios barco</span>
                </div>
                <div class="card-content">
                    <p>Consulta los horarios para llegar a la isla.</p>
                </div>
            </div>
        </div>
    </div>
<h2 class="center">Reservar</h2>
    <div class="row reservas grid">
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_hotel.jpg">
                    <span class="card-title">Reserva hotel</span>
                </div>
                <div class="card-content">
                    <p>Reserva tu hotel.</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_scooter.jpg">
                    <span class="card-title">Reserva coche o moto</span>
                </div>
                <div class="card-content">
                    <p>Rreserva tu vehiculo .</p>
                </div>
            </div>
        </div>
        <div class="col m4 s12 ">
            <div class="card">
                <div class="card-image">
                    <img src="/images/info/img_barco3.jpg">
                    <span class="card-title">Organiza tu viaje</span>
                </div>
                <div class="card-content">
                    <p>Reserva barco + hotel + traslado + vehículo.</p>
                </div>
            </div>
        </div>
    </div>
{{end}}