{{ define "main" }}
<h2>{{.Title}}</h2>
<div class="row reservas grid">
    <div class="col m4 s12 ">
        <a href="https://esfreus.netlify.com">
        <div class="card">
            <div class="card-image">
                <img src="/images/info/img_hotel.jpg">
            </div>
            <div class="card-content">
                <p>Reserva tu hotel.</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col m4 s12 ">
        <a href="https://esfreus.netlify.com">
        <div class="card">
            <div class="card-image">
                <img src="/images/info/img_scooter3.jpg">
            </div>
            <div class="card-content">
                <p>Reserva tu bici, scooter o coche.</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col m4 s12 ">
        <a href="https://esfreus.netlify.com">
        <div class="card">
            <div class="card-image">
                <img src="/images/info/img_barco3.jpg">
            </div>
            <div class="card-content">
                <p>Organiza tu viaje (barco + hotel + traslado + vehículo).</p>
            </div>
        </div>
        </a>
    </div>
</div>

{{end}}

