/*

ESQUEMA COLORES: https://coolors.co/6a9096-f9f8f2-e6dac4-9d4d1e-396873


 */




body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    margin-bottom: 60px;
}
.grid {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.grid .card {
    height: 90%;
}
.reservas{
    /* margin-top: 60px; */
}

nav {
    background-color: #E6DAC4;
}

nav ul li a {
    color: #9D4D1E;
}

a.brand-logo img {
    width: 60px;
    vertical-align: middle;
}

.jumbotron {
    margin-top: 50px;
    margin-bottom: 60px;
}

.jumbotron h1 {
    margin-bottom: 0px;
}

.accionesprincipales {
    margin-bottom: 80px;
}



.accionesprincipales .col {
    margin-bottom: 70px;
}


.page-footer {
    background-color: #E6DAC4;
    color: #9D4D1E;
}

/*
.page-footer .row .col {
    padding: 0px;
}
*/

.footer-copyright {
    background-color: #9D4D1E;
}

a {
    color: #6A9096;
}

a:hover {
    color: #396873;
}

a .card:hover {
    /* box-shadow: 0 2px 2px 0 #9D4D1E; */
    border: 1px solid #396873;
}